<app-header />

<mat-sidenav-container class="dashboard-container">

  <!-- Sidebar -->
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/products" routerLinkActive="active-link">Products</a>
      <a mat-list-item routerLink="/categories" routerLinkActive="active-link">Categories</a>
      <a mat-list-item routerLink="/vouchers" routerLinkActive="active-link">Vouchers</a>
      <a mat-list-item routerLink="/zns" routerLinkActive="active-link">ZNS</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="dashboard-content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-footer />