<app-header />
<!-- src/app/app.component.html -->
<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/products']" routerLinkActive="active">Products</a>
      <a mat-list-item [routerLink]="['/zns']" routerLinkActive="active">ZNS</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="dashboard-content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer />